.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    padding-top: 10px;
    
}

.home-content{
  margin-top: 15px;
  margin-left: 10px;
}
.home-content h2{
    font-size: 30px;
    font-weight: 700;
    margin: -2px 0;  
    margin-left: 30%;  
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}
.home-content h3{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 23%;  
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
    opacity: 0;
}
.home-content h3 span{
    color:rgb(236, 99, 7);
}

.home-content p{
    font-size: 16px;
    margin-top: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-img img {
  height: 230px;
  width: 230px;
  margin-top: 30px;
  margin-left: 30%;
  border-radius: 50%;
  background-color: rgb(238, 82, 10);
  object-fit: cover;
  transition: all 0.4s ease;
}

.home-img img:hover {  
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.3),
              0 0 25px rgba(247, 141, 3, 0.5);
}

.module{
   
    margin-top: 50px;
    margin-right:3px;

}

.social-media {
  position: absolute;
  bottom: 30px;          /* Distance from bottom */
  left:45%;
  transform: translateX(-50%);
  display: flex;
  gap: 55px;
  justify-content: center;
  align-items: center;
  z-index: 1000;         /* Keeps icons above other elements */
}

.social-media a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: transparent;
  color: #111;
  font-size: 35px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(1, 5, 5, 0.5);
}





/* Animation  */
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
    
}

@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }    
}

